/* PROFILE */
.card{
    max-width: 1000px;
    margin: 20px;;
    margin-top: 40px;
    padding: 30px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.card1{
    max-width: 1100px;
    display: flex;
    align-items: center;
}

.image{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: 20px;
}

.descriptioncard{
    width: 900px;
    padding: 20px 20px;
    margin: auto;
}

.headingprofile{
    margin-bottom: 0px;
}

.parafdesc{
    margin-bottom: 20px;
    margin-left: 1px;
}

.biodata{
    border-left: 1px solid;
    padding: 10px 15px;
    width: 1000px;
}

.pilihan{
    padding-left: 30px;
}

.button1{
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(94, 77, 124, 0.2);
    background-color: #fd650d;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin: 6px 0px;
    cursor: pointer;
    transition: .4s;
}

.button1:hover{
    background-color: transparent;
    border-color: rgb(41, 1, 105);
    /* border: 3px solid; */
    border-radius: 5px;
    color: rgb(197, 15, 15);
}

.button2{
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(94, 77, 124, 0.2);
    background-color: #0d45fd;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin: 6px 0px;
    cursor: pointer;
    transition: .4s;
}

.button2:hover{
    background-color: transparent;
    border-color: rgb(41, 1, 105);
    /* border: 3px solid; */
    border-radius: 5px;
    color: rgb(197, 15, 15);
}

.datadiri{
    border-left: 1px dashed;
    max-width: 1000px;
    padding: 10px 15px;
    width: 1000px;
}

.format{
    padding-left: 20px;
}

.form-select{
    margin: 5px;
    padding: 2px 2px;
}

.card2{
    width: 100%;
    border: #0d45fd;
    color:black

}

